.popup__close {
  background-image: url(../../../images/popup_close.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 618px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: 0.6;
}