.header__link {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width:618px) {
  .header__link {
    display: none;
  }
}