.popup__button_disabled {
  cursor: default;
  opacity: 0.2;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
  padding: 13px 124px 13px 125px;
}

@media screen and (max-width: 618px) {
  .popup__button_disabled {
    padding: 13px 82px;
  }
}

.popup__button_disabled:hover {
  opacity: 0.2;
}

.popup__button_disabled:focus {
  opacity: 0.2;
}